@import "reset.css";
li::marker{
    font-size: 10px;
}/* 이걸 사용하면 모든 li의 marker 사이즈가 변경 되는데, 따로따로 설정하는법은?*/
.wrap{
    min-width: 1200px;
    min-height: 100%;
}
.struct-wrap{
    width: 1540px;
    margin: 30px auto; /*왜 맨위에서만 작동하고 그 다음부터는 겹치는가? */
}

.dp-lineBlock{display: inline-block;}/* 이들은 합쳐서 계속 써주는게 좋은지? 아니면 따로따로 놔둔상태로 두개의 클래스를 가져다 쓰는게 나은지? */
.bold-text{font-weight: 900;}
.img_logo{
    vertical-align: middle;
    margin-left: 80px;
}
.dp-lineBlock.nav{margin-left: 190px;}
.dp-lineBlock.li-type{list-style-type: none;}
.li-posit{list-style-position: inside;}
.dp-lineBlock.li-op1{margin-right: 70px;}
.bold-text.li-op2{font-size: 20px;}
.bold-text.li-op3{
    font-size: 100px;
    line-height: 100%;
    margin-top: 20px;
}
.li-op4{
    color: #614B2D;
    font-size: 21px;
    margin-top: 20px; /* margin-top 을 이용해 간격을 많이 벌리는데 이것도 계속 값을 주는거 vs class를 만들어 붙이는거 중 뭐가 나은지? */
}
.li-op5{margin-left: 10px;
        color: #767676;
    }
.bold-text.li-op6{
    text-decoration: underline;
    font-size: 20px;
}
.bold-text.li-op7{  
    font-size: 30px;
    margin-top: 25px;
}
.hello{background-color: #FFCF5C;}
.img_lycat{vertical-align: bottom;}
.sign-block{
    width: 200px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
    margin: 50px 0px 100px 0px;
    color: white;
    text-align: center;
    line-height: 70px;
}
.struct-wrap.intro{
    display: table;
    table-layout: fixed;
    margin: 100px auto;
}
.dp-lineBlock.intro-child{
    display: table-cell;
    padding-left: 80px;

}
.box-character{
    width: 710px;
    margin: 30px 0px 0px 80px;
    padding-top: 30px;
    border-radius: 10px;
}
.box-character.mura{
    background-color: #E37066;
    margin-top: 0px;
}
.im_character{
    vertical-align: top;
    border-radius: 10px;
}
.mura-text{
    color: white;
    margin-left: 30px;
}
.box-character.soulgom{
    background-color: #CBDFF7;
}

.another-text{
    color: black;
    margin-left: 30px;
}
.box-gary{
    background-color: #D2E579;
    width: 710px;
    margin-left: 30px;
    padding-top: 30px;
    vertical-align: top;
    border-radius: 10px;
}
.im_character.gary{
    padding-top: 100px;
}


.test{
    width: 50%;
    height: 100px;
    background-color: red;
}
.test1{
    width: 50%;
    height: 100px;
    background-color: rgb(106, 0, 255);
}

/* 이미지를 잘라서 써도 되는지, 이미지 원본의 여백이 너무 많아서 더 비슷하게 만들지 못했음 */